<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    

    <style>

        .event
        {
            box-sizing: border-box;

            width: 175px;
            height: 230px;
            margin: 20px;

            border: 1px solid black;
            border-radius: 10px;
            float: left;

            overflow: auto;
        }

        .event:hover
        {
            cursor: pointer;
            outline: 2px solid gray;
            outline-offset: 5px;
        }

    </style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>                        
            </button>
    
            <a class="navbar-brand" href="#">Event24</a>

        </div>
    
        <div class="collapse navbar-collapse" id="navbar">

            <ul class="nav navbar-nav">

                <li><a href="http://localhost:8080/events" class="active">Events</a></li>
                <li><a href="#">My Events</a></li>

                <% if (user.admin != undefined) { %>

                <li><a href="http://localhost:8080/requests">Requests
                    <span class="label label-danger" id="req_count"></span></a>
                </li>

                <% } %>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= user.username %>
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:8080/profile">Profile</a></li>
                        <li><a href="http://localhost:8080/logout">Logout</a></li>
                    </ul>

                  </li>
            </ul>
        </div>
    </div>
</nav>

<% for (let i = 0; i < events.length; ++i) { %>

    <% if (events[i].accepted === false) { %>
        <% continue; %>
    <% } %>    

    <div class="event" data-toggle="modal" data-target="#eventInfo<%=i%>">

        <div style="width: 100%; height: 30%; border-bottom: 3px solid black; box-sizing: border-box; padding-top: 5px; margin-bottom: 5px;">
        
            <p style="text-align: center; font-size: 20px;"><%= events[i].name %></p>

        </div>

        <div style="margin: 5px;">
            <p>Organised by: <%= events[i].club %></p>
            <p>Venue: <%= events[i].venue %></p>
            <p id="eventDate<%=i%>">Date: </p> 
            <p id="eventTime<%=i%>">Time: </p>
        </div>

    </div>
    
    <div class="modal fade" id="eventInfo<%=i%>">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 style="text-align: center;">Event Details</h2>
                </div>
    
                <div class="modal-body">
                    
                    <form id="form<%=i%>" class="form-horizontal" method="POST" onsubmit="disable('<%=i%>')">
                        <fieldset>

                        <input type="hidden" name="id" value="<%= events[i].id %>">
                                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Name</label>  
                            <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="name<%=i%>" name="name" value="<%= events[i].name %>" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Organising Club</label>  
                            <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="club<%=i%>" name="club" value="<%= events[i].club %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Venue</label>  
                            <div class="col-md-4">
                            <input type="text" class="form-control input-md" id="venue<%=i%>" name="venue" value="<%= events[i].venue %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Time</label>  
                            <div class="col-md-4">
                            <input type="datetime-local" class="form-control input-md" id="time<%=i%>" name="time" value="<%= events[i].time %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group" style="width: 50%; margin: auto;">
                            <label for="description">Event Description</label>
                            <textarea class="form-control" rows="5" id="description<%=i%>" name="description" readonly><%= events[i].description %></textarea>
                        </div>

                        <br>
                        <button type="submit" id="cancel<%=i%>" formaction="http://localhost:8080/cancelrequest" class="btn btn-danger" style="float: right; margin-left: 10px;">Request Cancellation</button>
                        <button type="submit" id="edit<%=i%>" formaction="http://localhost:8080/editrequest" class="btn btn-success" style="float: right;">Request Edit</button>

                        </fieldset>
                    </form>    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<% } %>

<div class="event" data-toggle="modal" data-target="#newEvent">

    <center>
    <span class="glyphicon glyphicon-plus" style="margin: 85px auto; font-size: 50px;"></span>
    </center>
    
</div>
    
<div class="modal fade" id="newEvent">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 style="text-align: center;">Add a new event</h2>
            </div>

            <div class="modal-body">
                
                <form class="form-horizontal" action="http://localhost:8080/newevent" method="POST" onsubmit="document.getElementById('arrange').disabled = true;">
                    <fieldset>
                                    
                    <div class="form-group">
                        <label class="col-md-4 control-label">Event Name</label>  
                        <div class="col-md-4">
                        <input id="name" name="name" type="text" class="form-control input-md" required>
                        </div>
                    </div>

                    <center>Select organising club : 

                    <select name="club" id="club" onfocus="this.size=5;" onblur="this.size=1;" onchange="this.size=1; this.blur(); arrangeEventButton();">

                        <% data.forEach(club => { %>

                            <option value="<%=club%>"><%= club %></option>

                        <% }); %>

                    </select>
                    </center>

                    <br>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Event Venue</label>  
                        <div class="col-md-4">
                        <input id="venue" name="venue" type="text" class="form-control input-md" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Event Time</label>  
                        <div class="col-md-4">
                        <input id="time" name="time" type="datetime-local" class="form-control input-md" required>
                        </div>
                    </div>

                    <div class="form-group" style="width: 50%; margin: auto;">
                        <label for="description">Event Description</label>
                        <textarea class="form-control" rows="5" id="description" name="description" required></textarea>
                      </div>

                    <br>

                    <button type="submit" class="btn btn-success" id="arrange" style="float:right">Request Permission</button>
                    </fieldset>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

var user = <%-JSON.stringify(user)%>;
var events = <%-JSON.stringify(events)%>;

setPermissions();
arrangeEventButton();
setMinTime();

if ("admin" in user)
    countRequests();

var months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

for (let i = 0; i < events.length; ++i)
{
    if (events[i].accepted == false)
        continue;

    var datetime = events[i].time;
    var date = new Date(datetime);

    document.getElementById("eventDate" + i).innerHTML += date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear();
    document.getElementById("eventTime" + i).innerHTML += date.getHours() + ":" + date.getMinutes();
}

function arrangeEventButton()
{
    var club = document.getElementById("club").value;

    if (("admin" in user) || user.permissions.includes(club))
        document.getElementById("arrange").innerHTML = "Arrange Event";

    else
        document.getElementById("arrange").innerHTML = "Request Permission";
}

function hasPermission(user, event, special_permission)
{
    if (user.permissions.includes(event.club))
        return true;

    if (event.permissions.some(el => el.username == user.username && el.email == user.email && el.type == "organise"))
        return true;

    else if (special_permission == "edit" && event.permissions.some(el => el.username == user.username && el.email == user.email && el.type == "edit"))
        return true;

    else if (special_permission == "cancel" && event.permissions.some(el => el.username == user.username && el.email == user.email && el.type == "cancel"))
        return true;

    return false;
}

function setPermissions()
{
    for (let i = 0; i < events.length; ++i)
    {
        if (events[i].accepted == false)
            continue;

        if (("admin" in user) || hasPermission(user, events[i], "edit"))
        {
            document.getElementById("edit" + i).innerHTML = "Edit Event";
            document.getElementById("edit" + i).setAttribute("formaction", "http://localhost:8080/edit");

            document.getElementById("name" + i).disabled = false;
            document.getElementById("club" + i).disabled = false;
            document.getElementById("venue" + i).disabled = false;
            document.getElementById("time" + i).disabled = false;
            document.getElementById("description" + i).readOnly = false;
        }

        if (("admin" in user) || hasPermission(user, events[i], "cancel"))
        {
            document.getElementById("cancel" + i).innerHTML = "Cancel Event";
            document.getElementById("cancel" + i).setAttribute("formaction", "http://localhost:8080/cancel");
        }
    }
}

function countRequests()
{
    var req_count = 0;

    for (let i = 0; i < events.length; ++i)
    {
        for (let j = 0; j < events[i].permissions.length; ++j)
        {
            if (events[i].permissions[j].type == "organise_request" || events[i].permissions[j].type == "edit_request" ||
                events[i].permissions[j].type == "cancel_request")
                ++req_count;
        }
    }

    document.getElementById("req_count").textContent = req_count.toString();
}

function disable(i)
{
    document.getElementById("edit" + i).disabled = true;
    document.getElementById("cancel" + i).disabled = true;
}

function setMinTime()
{
    var date = new Date();
    var minTime = date.getFullYear() + "-" + (date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + 
                "-" + date.getDate() + "T" + (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + 
                ":" + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ":" +
                (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());

    document.getElementById("time").setAttribute("min", minTime);

    for (let i = 0; i < events.length; ++i)
    {
        if (events[i].accepted == true)
            document.getElementById("time" + i).setAttribute("min", minTime);
    }
}

</script>

</body>

</html>