<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>

    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    

    <style>

        th, td
        {
            text-align: center;
        }

    </style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>                        
            </button>
        
            <a class="navbar-brand" href="#">Event24</a>
    
        </div>
        
        <div class="collapse navbar-collapse" id="navbar">
    
        <ul class="nav navbar-nav">
                    
            <li><a href="http://localhost:8080/events">Events</a></li>
            <li><a href="#">My Events</a></li>
            <li><a href="http://localhost:8080/requests" class="active">Requests
                <span class="label label-danger" id="req_count"></span></a>
            </li>
            <li><a href="http://localhost:8080/manageusers">Manage Users</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
    
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= user.username %>
                    <span class="caret"></span>
                </a>
                        
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8080/profile">Profile</a></li>
                    <li><a href="http://localhost:8080/logout">Logout</a></li>
                </ul>
    
            </li>
        </ul>
        </div>
    </div>
</nav>
    
<form id="requests_table" action="http://localhost:8080/requests" method="POST">

<div class="table-responsive" style="margin: 10px;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>

            <th>Sr. No.</th>
            <th>Username</th>
            <th>Request</th>
            <th>Event</th>
            <th>Permission</th>

            </tr>
        </thead>

        <tbody>

            <% for (let i = 0, sr_no = 1; i < events.length; ++i) { %>

                <% for (let j = 0; j < events[i].permissions.length; ++j) { %>

                <tr>

                    <% if (events[i].permissions[j].type == "organise" || events[i].permissions[j].type == "edit" || events[i].permissions[j].type == "cancel") { %>
                        <% continue; %>
                        
                    <% } else { %>

                        <td><%= sr_no++ %></td>

                        <td><%= events[i].permissions[j].username %></td>

                        <% if (events[i].permissions[j].type == "organise_request") { %>
                            <td>Organise</td>

                        <% } else if (events[i].permissions[j].type == "edit_request") { %>
                            <td>Edit</td>

                        <% } else if (events[i].permissions[j].type == "cancel_request") { %>
                            <td>Cancel</td>
                        
                        <% } else { %>
                            <% continue; } %>

                    <% } %>
                
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#event<%= i %>">View Event</button></td>
                
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="<%=i%> <%=j%>" value="approve">Approve for this event
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="<%=i%> <%=j%>" value="approve_all">Approve for all events of <%= events[i].club %>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="<%=i%> <%=j%>" value="decline">Decline
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="<%=i%> <%=j%>" value="noaction">No action
                        </label>
                    </td>

                </tr>

                <% } %>

            <% } %>

        </tbody>
    </table>
</div>

<center><button type="submit" class="btn btn-success">Confirm Changes</button></center>

</form>

<% for (let i = 0; i < events.length; ++i) { %>
    
    <div class="modal fade" id="event<%= i %>">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 style="text-align: center;">Event Details</h2>
                </div>
    
                <div class="modal-body">
                    
                    <form class="form-horizontal">
                        <fieldset>
                                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Name</label>  
                            <div class="col-md-4">
                            <input type="text" class="form-control input-md" value="<%= events[i].name %>" disabled>
                            </div>
                        </div>

                        <br>

                        <center>Organising Club: <%= events[i].club %></center>

                        <br>
    
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Venue</label>  
                            <div class="col-md-4">
                            <input type="text" class="form-control input-md" value="<%= events[i].venue %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-md-4 control-label">Event Time</label>  
                            <div class="col-md-4">
                            <input type="datetime-local" class="form-control input-md" value="<%= events[i].time %>" disabled>
                            </div>
                        </div>
    
                        <div class="form-group" style="width: 50%; margin: auto;">
                            <label for="description">Event Description</label>
                            <textarea class="form-control" rows="5" readonly><%= events[i].description %></textarea>
                        </div>
    
                        </fieldset>
    
                    </form>
    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<% } %>

<script>

countRequests();

function countRequests()
{
    var req_count = 0;
    var events = <%-JSON.stringify(events)%>;

    for (let i = 0; i < events.length; ++i)
    {
        for (let j = 0; j < events[i].permissions.length; ++j)
        {
            if (events[i].permissions[j].type == "organise_request" || events[i].permissions[j].type == "edit_request" ||
                events[i].permissions[j].type == "cancel_request")
                ++req_count;
        }
    }

    if (req_count == 0)
        document.getElementById("requests_table").innerHTML = "<h3 style='text-align: center;'>No pending requests</h3>";

    document.getElementById("req_count").textContent = req_count.toString();
}

</script>

</body>

</html>